$header: rgba(0, 0, 0, 1);
$header-article: rgba(25, 28, 31,1);
$span: rgba(89, 98, 106, 1);
$link: rgba(89,98,106,1);
$hover-link: rgba(12, 96, 254, 1);
$paragraph: rgba(25, 28, 31,1);
$border: rgba(215, 215, 215, 1);
$button: rgb(57, 124, 249);
$hover: rgba(12, 96, 254, 1);
$input-text: rgba(89, 98, 106, 1);
